/*
.APP CSS - box-shadow : 
The first value (0) is the horizontal offset of the shadow.
The second value (4px) is the vertical offset of the shadow.
The third value (8px) is the blur radius of the shadow.
The fourth value (rgba(0, 0, 0, 0.1)) is the color and transparency of the shadow. The rgba values represent black with 10% opacity.
*/
.App {
  background-color: crimson;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adjust values as needed */
}

.App h1 {
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
}

.pokemon-grid {
  background-color: crimson;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
}

.pokemon-card {
  text-decoration: none;
  color: #333;
  background-color: silver;
  border: 1px solid #ffcc00; /* Set the yellow border color */
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.2s ease-in-out;
}

.pokemon-card img {
  max-width: 100%;
  height: auto;
}

.pokemon-card h3 {
  margin-top: 10px;
  font-size: 1.2rem;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-size: cover; /* Adjust background image sizing */
  background-attachment: fixed; /* For parallax scrolling effect */
}

body {
  font-family: 'Open Sans', sans-serif; /* Load a Google Font */
}

.pokedex-title {
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: 2rem;
  letter-spacing: 2px;
  color: yellow; /* Text color */
  /* Additional styling properties */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  background-color: black;
  padding: 10px 20px;
  border-radius: 8px;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.pokedex-title:hover {
  background-color: crimson;
}

.pokedex-title-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  font-style:normal;
  font-stretch:ultra-expanded;
  text-align: center;
  margin: 20px 0;
  font-size: 40px;
  color: yellow;
}

.pokemon-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.pokemon-card {
  text-decoration: none;
  color: #333;
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  &:hover {
    transform: scale(1.05);
  }
}

.pokemon-card-content {
  text-align: center;
}

.pokemon-card img {
  max-width: 100%;
  height: auto;
}

.pokemon-card h3 {
  margin-top: 10px;
  font-size: 1.2rem;
}

.pokemon-card p {
  margin-top: 5px;
  font-size: 0.9rem;
  color: black;
}

