/* PokemonDetail.css */
.pokemon-detail {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .pokemon-detail h2 {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  .pokemon-detail img {
    max-width: 200px;
    height: auto;
    margin-bottom: 10px;
  }
  
.pokemon-card p {
  margin-top: 5px;
  font-size: 0.9rem;
  color: black; 
}

h3 {
  color: black;
}